<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dda.es.ulpgc.kilian.garcia106.tripko">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tripko">
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".conversor_moneda.Conversor_MonedaActivity"/>
        <activity android:name=".idioma.IdiomaActivity"/>
        <activity android:name=".menu_principal.Menu_PrincipalActivity"/>
        <activity android:name=".idioma_coreano.Idioma_CoreanoActivity"/>
        <activity android:name=".idioma_alfabeto.Idioma_AlfabetoActivity"/>
        <activity android:name=".idioma_expresiones_category.Idioma_Expresiones_CategoryActivity"/>
        <activity android:name=".idioma_expresiones_detail_list.Idioma_Expresiones_Detail_ListActivity"/>
        <activity android:name=".transporte_category.Transporte_CategoryActivity"/>
        <activity android:name=".transporte_subcategory.Transporte_SubcategoryActivity"/>
        <activity android:name=".transporte_detail_list.Transporte_Detail_ListActivity"/>
        <activity android:name=".contactos_list.Contactos_ListActivity"/>

    </application>

</manifest>